<!-- login.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 d-flex flex-column align-items-center">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
              <mat-form-field class="mb-3" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Enter your Email" name="username" formControlName="email" required>
              </mat-form-field>
              <small *ngIf="getEmail().invalid && (getEmail().dirty || getEmail().touched)" class="block text-danger">
                <div *ngIf="getEmail().errors?.['required']">Email is required</div>
                <div *ngIf="getEmail().errors?.['email']">Email should be valid</div>
              </small>
              <mat-form-field class="mb-3" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter your password"  formControlName="password" name="password" required>
              </mat-form-field>
              <small *ngIf="getPassword().invalid && (getPassword().dirty || getPassword().touched)" class="block text-danger">
                <div *ngIf="getPassword().errors?.['required']">Password is required</div>
              </small>
              <button mat-raised-button color="primary" type="submit">Login</button>
              <div>
                <a [routerLink]="['/register']" routerLinkActive="router-link-active" >
                  Not a memeber?
                </a>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  